.effect-top,
.effect-bottom {
    display: flex;
    gap: 0.5rem;
}

.effect-top {
    justify-content: flex-start;
}

figure {
    margin: 0;
}

figure.h-effect {
    color: #fff;
    position: relative;
    overflow: hidden;
    background: #000;
    width: 100%;
}

figure.h-effect * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

figure.h-effect img {
    opacity: 1;
    width: 100%;
    display: block;
}

figure.h-effect figcaption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0.75rem;
    position: absolute;
}

figure.h-effect .effect-bottom,
figure.h-effect .effect-top {
    position: absolute;
    opacity: 0;
}

figure.h-effect .effect-bottom {
    left: 5px;
    bottom: 5px;
    -webkit-transform: translate(0, 150%);
    transform: translate(0, 150%);
}

figure.h-effect .effect-top {
    right: 5px;
    top: 5px;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

figure.h-effect:hover img,
figure.h-effect.hover img {
    opacity: 0.6;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

figure.h-effect:hover figcaption .effect-bottom,
figure.h-effect.hover figcaption .effect-bottom,
figure.h-effect:hover figcaption .effect-top,
figure.h-effect.hover figcaption .effect-top {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
}

.tag-1 {
    padding: 0.25rem 0.5rem;
    background: #7dd3fc;
    color: rgb(21, 21, 30);
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    border-radius: 8px;
}

.tag-2 {
    padding: 0.25rem;
    background: #cbd5e1;
    color: rgb(21, 21, 30);
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.fav-button {
    background-color: #f87171;
    border: 1px solid #f87171;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    padding: 0.25rem;
    height: 1.5rem;
    min-width: fit-content;

    &:hover {
        background-color: #ef4444;
        border: 1px solid #dc2626;
    }
}

.tag-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: flex-end;
}