@import "./effect.css";
@import "./modal.css";
@import "./spinner.css";

body {
    height: 100%;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #F3F4F6;
}

main {
    padding-bottom: 1.5rem;
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
}

section {
    background-color: rgb(249 250 251);
    border-radius: 0.5rem;
    padding: 1.5rem;
    border: 1px solid #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

a {
    color: #3B82F6;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s ease-in-out;

    &:hover {
        color: #2563EB;
    }
}

.g-input {
    font-family: 'Inter', sans-serif;
    border: 1px solid #E5E7EB;
    border-radius: 0.375rem;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #374151;
    width: 100%;
    transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;

    &:focus {
        outline: none;
        border-color: #2563EB;
        box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.1);
        background-color: #fff;
    }
}

.g-button {
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    color: #fff;
    background-color: #3B82F6;
    border-radius: 0.375rem;
    padding: 0.75rem;
    border: 1px solid transparent;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem auto;

    &:hover {
        background-color: #2563EB;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.1);
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    &:active {
        background-color: #06102b;
    }
}

.g-button-text {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 500;
}

.g-icon {
    width: 1.25rem;
    height: 1.25rem;
    filter: invert(100%);
}

.g-subtitle {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    color: #374151;
    margin: 0;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
}

.grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

#favorites-section {
    margin: 0;
}

.card-1 {
    background-color: #fff;
    border-radius: 0.5rem;
    border: 1px solid #E5E7EB;
    width: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 24rem;
    cursor: pointer;
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.category {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: #374151;
    margin-top: 0.5rem;
}

.select-wrapper {
    margin: 1rem 0;
}

@media (min-width: 640px) {
    main {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .form-description {
        margin-top: 1rem;
        display: block;
    }

    .g-form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .g-input {
        width: 100%;
    }

    .g-button {
        margin: 0;
    }

    .g-subtitle {
        font-size: 1.875rem;
        line-height: 2.25rem;
    }
}

@media (min-width: 768px) {
    .form-wrapper {
        display: block;
    }

    .grid {
        grid-template-columns: repeat(2, minmax(0, 3fr));
    }
}

@media (min-width: 1024px) {
    main {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .grid {
        grid-template-columns: repeat(3, minmax(0, 3fr));
    }
}

@media (min-width: 1280px) {
    .grid {
        grid-template-columns: repeat(4, minmax(0, 3fr));
    }
}